@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    min-width: 96.8vw;
    min-height: 97.1vh;
    font-family: Roboto;
    font-weight: normal;
}

header {
    display: ;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

#img > img {
    width: 100%;
    min-height: 30vh;
    margin-bottom: 10px;
    overflow: auto;
}

#form {
    display: ;
}

section {
    margin: 10px 30px;

}

section > div > h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 25px;
}

section > div > p {
    font-size: 16px;
    margin: 25px;
}

section > div > p > img {
    margin-right: 15px;
}

input, button {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;

}

button {
    background-color: hsl(234, 29%, 20%);
    color: white;
}

button:hover {
    background-image:linear-gradient(to right, hsl(4, 100%, 67%),  hsl(4, 90%, 60%));
    font-weight: bold;
    box-shadow: 0px 10px 10px hsla(4, 100%, 67%, 0.479);
    border: none;
}

#confirm {
    display: none;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#confirm > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 88vh;
    min-width: 90vw;
    
}

#confirm > div > img {
    position: relative;
    top: -70px; left: 20px;
    width: 20%;
}

#confirm > div > h1 {
    font-size: 3em;
}

#confirm > div > p {
   text-align: left;
    font-size: 21px;
}


footer {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    color: black;
    font-size: 16px;
}

#attribution > a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

#attribution > a:hover {
    color:hsl(4, 100%, 67%);
}

@media (min-width: 600px) {
    
}